venv/
.venv/
venv_new/
*node_modules/*
*.log
*.zip
*/.npm-cache/
__pycache__/
__MACOSX/
.pytest_cache/
lexy
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
sql_helper/
analysis_results/
data/cvedata/data/
.DS_Store
cubes/output/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*/tests/output/*
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
